@namespace epub "http://www.idpf.org/2007/ops";

/* --- Reset + Box Model --- */
* {
  box-sizing: border-box;
}

body,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table,
blockquote,
pre {
  margin: 0;
  padding: 0;
}

/* --- Typography --- */
body {
  font-family: sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #000;
}

p {
  margin: 1rem 0;
  text-align: start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  break-inside: avoid;
  page-break-inside: avoid;
  font-weight: bold;
  text-align: start;
}

h1 {
  break-before: always;
  page-break-before: always; /* Kindle */
  font-size: 2rem;
  line-height: 1.2;
}
h1 .weight-normal {
  font-weight: normal;
}
h2,
.lesson-header {
  font-size: 1.75rem;
  line-height: 1.3;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 2rem;
}
h4 {
  font-size: 1.05rem;
  line-height: 1.4;
  margin-top: 2rem;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

/* --- Headers & Badges --- */
.lesson-row {
  break-before: always;
  page-break-before: always; /* Kindle */
  overflow: hidden; /* clearfix to contain floats */
  padding: 0 0 0.7rem 0;
}

.lesson-badge {
  position: relative;
  float: left;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 2.6rem;
  border-radius: 2.12rem;
  border: 0.26rem solid #ccc;
  box-sizing: content-box;
  margin-right: 0.8rem;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  /* no font or color styles here */
}

.badge-letter {
  display: inline-block;
  font-weight: bold;
  font-size: 2.4rem;
  color: black;
  vertical-align: middle;
  line-height: 1;
}

.lesson-header {
  position: relative;
  top: 0.7rem;
}

/* --- Images --- */
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 0.25rem;
}

/* --- Code Blocks --- */
pre,
code {
  font-family: monospace !important;
  white-space: pre-wrap !important;
  word-break: normal !important;
  overflow-wrap: break-word !important;
  hyphens: none;
}

pre {
  overflow: hidden;
  background: #333;
  color: #eee;
  border: 1px solid #222;
  border-radius: 0.5rem;
  display: block;
  margin: 1rem 0;
  padding: 1rem;
}

code {
  background: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

code:not(pre code) {
  background: #eee;
  margin: 0 0.1em;
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
  white-space: nowrap;
}

/* --- Blockquotes --- */
blockquote {
  overflow: hidden;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-left: 6px solid #ccc;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;
  break-inside: avoid;
  page-break-inside: avoid;
  text-align: start;
}

.cover-description-page > :first-child,
blockquote > :first-child,
.exercise > :first-child {
  margin-top: 0;
}
.cover-description-page > :last-child,
blockquote > :last-child,
.exercise > :last-child {
  margin-bottom: 0;
}

/* --- Tables --- */
.table-wrapper {
  overflow: hidden;
  margin: 1rem 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  break-inside: avoid;
  page-break-inside: avoid;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  break-inside: avoid;
  page-break-inside: avoid;
}

th,
td {
  padding: 0.5em 1em;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

thead th {
  font-weight: bold;
  background: #f2f2f2;
}

tbody tr:last-child td {
  border-bottom: none;
}

/* --- Cover Pages & Excercises --- */
.cover-title-page,
.cover-image-page,
.cover-description-page,
.exercise {
  break-before: always;
  page-break-before: always;
  min-height: 100vh;
  margin: 0;
}

.cover-title-page {
  padding: 0;
}

.cover-image-page {
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 1rem;
  text-align: center; /* fallback */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover-image-page img {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  margin: 0 auto 1rem auto;
}

.cover-description-page {
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 1rem;
  text-align: left;
  display: block;
}

.exercise {
  overflow: hidden;
  background: #f2f2f2;
  border: 1px solid #e4e4e4;
  border-radius: 1rem;
  padding: 1rem;
  break-after: always;
  page-break-after: always;
}

/* --- Lists --- */
ul,
ol,
menu,
dir {
  margin: 1em 0;
  padding-left: 1.2em;
  list-style-position: outside;
}

ul li,
ol li,
menu li,
dir li {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

ul ul,
ul ol,
ol ul,
ol ol,
menu menu,
menu ul,
menu ol,
dir dir,
dir ul,
dir ol {
  padding-left: 1.5em;
}

.token-line {
  display: block;
  margin: 0;
  padding: 0;
}

.gatsby-highlight-code-line {
  display: block;
  margin: 0.05rem 0;
  padding: 0.2rem 0;
  background-color: #444;
  border-radius: 0.25rem;
  line-height: 1.2;

  /* copied from pre, code */
  font-family: monospace !important;
  white-space: pre-wrap !important;
  word-break: normal !important;
  overflow-wrap: break-word !important;
  hyphens: none;
}

.code-highlight-group {
  display: block;
  margin: 0.05rem 0;
  padding: 0.2rem 0;
  background-color: #444;
  border-radius: 0.25rem;

  /* copied from pre, code */
  font-family: monospace !important;
  white-space: pre-wrap !important;
  word-break: normal !important;
  overflow-wrap: break-word !important;
  hyphens: none;
}

.code-highlight-group .gatsby-highlight-code-line {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
